# Hello, Python üêç !

<img src="https://www.python.org/static/community_logos/python-logo.png" alt="drawing" width="200"/>

## Goal: Get familiar with Python and complete all tasks.

## Introduction

Notebooks are composed of editable blocks (called "cells") of text and code.

I am a text cell :). Click two times to edit me.

In [ ]:
# I am a code cell :). Click one time to edit me.

Run a cell: click on the cell and press `Ctrl + Enter`. If you press `Shift + Enter`, you'll execute the current cell and go to the next cell.

Shortcuts:

- `Ctrl + Shift + Space`: See docstring.
- `Ctrl + M + B`: New code cell.
- `Ctrl + M + M`: Turn code cell into markdown cell.
- `Ctrl + M + D`: Delete cell.

> Note: In order for `Cntr + Shift + Space` to work, you have to be connected to a virtual machine, i.e. you at least one code cell needs to be run.

Python operations

| Operator | Name           | Description                                    |
| -------- | -------------- | ---------------------------------------------- |
| a + b    | Addition       | Sum of a and b                                 |
| a - b    | Subtraction    | Difference of a and b                          |
| a * b    | Multiplication | Product of a and b                             |
| a / b    | True division  | Quotient of a and b                            |
| a // b   | Floor division | Quotient of a and b, removing fractional parts |
| a % b    | Modulus        | Integer remainder after division of a by b     |
| a ** b   | Exponentiation | a raised to the power of b                     |
| -a       | Negation       | The negative of a                              |

## **Basics** üß∞

### **Numbers** üî¢

- Python has only two number types: intergers and floating point numbers

In [ ]:
# an integer
1

1

In [ ]:
# a floating-point number
1.0

1.0

In [ ]:
# note that the following is also a floating point number
1.

1.0

So what is the main difference? Floating point numbers have a decimal point and integers do not.

In [ ]:
# addition
1 + 1

2

In [ ]:
# multiplication
1 * 3

3

In [ ]:
# floating point number division
1 / 2

0.5

In [ ]:
# The power operator
2 ** 4

16

In [ ]:
# Modulus division

print(4 % 2)
print(5 % 2)

0
1

In [ ]:
# Operations have the priority you know from languages such as C++ and Haskell
# You remember Haskell, right :D ?

# multiplication first
print(2 + 3 * 5 + 5)

# addition first
print((2 + 3) * (5 + 5))

22
50

#### Task 1

Uncomment the below digits (`5`, `3`, and `2`) and add parentheses and operators ***without*** rearranging the digits so that the expression evaluates to `1`.

In [1]:
# Your code here
(5 - 3) // 2

1

In [ ]:
# Blank cell that shows the expected output.

# !! Note 1: If you run this cell the output will disappear and you'll
# have to look at the GitHub repository to see it.
# You are not meant to run these cells !!

# Note 2: The expected result is exactly 1 (not 1.0)!

1

### **Useful built-in Functions**

In [ ]:
# check the type of an object
type(19.95)

float

In [ ]:
type(19)

int

In [ ]:
# get the absolute value of a number
abs(-32)

32

In [ ]:
# cast a number to its floating point equivalent
float(10)

10.0

In [ ]:
# cast an object to an integer
int(3.33)

3

In [ ]:
# cast an object to a string
str(3.33)

'3.33'

In [ ]:
# In case you need a documentation for a particular function
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

`help()` displays two things:

  1. the header of that function `round(number, ndigits=None)`. In this case, this tells us that `round()` takes an argument we can describe as number. Additionally, we can optionally give a separate argument which could be described as `ndigits`.
  2. A brief description of what the function does.

> **Common pitfall**: when you're looking up a function, remember to pass in the name of the function itself, and not the result of calling that function.

In [ ]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

### **Variables**

In [ ]:
# Identifiers cannot start with a digit or special characters
# The convention is to use "snake_casing"
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

5

In [ ]:
# create a variable called color with an appropriate value and print it
color = 'white'

In [ ]:
print(color)
print('Hello, world')

white
Hello, world

In [ ]:
'Hello, world'

'Hello, world'

> Notice the difference in output!

By default jupyter notebooks display the last line (that is code) in a cell. That's why you see `'Hello, world'`. Notice the quotes. That means that it is not actully calling the internal method that would print the string (called the `__repr__()` method), but only displaying it as an output.

`print(color)` does however call the `__repr__()` method and hense there are no quotes

#### Task 2

Complete the code below so as to get the expected output.

In [2]:
pi = 3.14159 # approximate

# Create a variable called 'diameter' equal to 3
diameter = 3

# Create a variable called 'radius' equal to half the diameter
radius = diameter / 2

# Create and output a variable called 'area', using the formula for the area of a circle: pi multiplied by the squared radius
area = pi * radius * radius
print(area)

7.068577499999999

In [ ]:
# Expected output

7.0685775

### **Functions and Docstrings**

In [ ]:
# Here's how to create a function in Python.
# Use the keyword "def" followed by
# an identifier and a parameter list.

# Notice how in Python, the docstring is
# inserted right below the declaration!

# Notice also how a special kind of string
# is used: one with triple quotes. You'll learn
# about those string in the "Strings" section.

def least_difference(a, b, c):
  """Return the smallest difference between any two numbers
  among a, b and c.
  
  >>> least_difference(1, 5, -5)
  4
  """
  v1 = abs(a - b)
  v2 = abs(b - c)
  v3 = abs(a - c)
  return min(v1, v2, v3)

# Calling a function in Python is like
# calling a function in C++
least_difference(1, 5, -5)

4

In [ ]:
# The value of this identifier is a function
least_difference

In [ ]:
# Because we wrote a docstring, we can now see it
# when calling "help".
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

#### Keyword (default) arguments

In [ ]:
def greet(who="Colin"):
  print(f'Hello, {who}')
    
greet()
greet(who='Simo')
greet('Simo2')

Hello, Colin
Hello, Simo
Hello, Simo2

Notice the type of string that is used in the `print` statement. This is called an `f-string`. We use those types of strings in order to perform "string interpolation" - a way to insert objects' values into strings. Read more about them [here](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/).

#### Lambda functions

In [ ]:
# This is a definition of a higher order function
def is_odd():
  return lambda x: x % 2 != 0

In [ ]:
is_odd()(6)

False

In [ ]:
# same can be written as such
# yes, that's a litte strange,
# but functional programming is strange in general :D
(lambda x: x % 2 != 0)(6)

False

#### Combining Boolean Values

You can combine boolean values using the standard concepts of "logical and", "logical or", and "logical not". In fact, the words to do this are literally: `and`, `or`, and `not` üò∏.

In [ ]:
(1 > 2) and (2 < 3)

False

In [ ]:
(1 > 2) or (2 < 3)

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [ ]:
def can_run_for_president(age, is_natural_born_citizen):
  """Can someone of the given age and citizenship status run for president in the US?"""
  # The US Constitution says you must be a natural born citizen *and* at least 35 years old
  return is_natural_born_citizen and age >= 35

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

#### Conditionals

Booleans are most useful when combined with conditional statements, using the keywords `if`, `elif`, and `else`.

In [ ]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [ ]:
def inspect(x):
  if x == 0:
    print(x, "is zero")
  elif x > 0:
    print(x, "is positive")
  elif x < 0:
    print(x, "is negative")
  else:
    print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)

# Notice how apart from string interpolation, we could
# also just list the arguments to be printed.
# By default, Python puts a space between them
# when constructing the interpolating the string.

# However, please note that the most common and accepted
# approach is the use f-strings!

0 is zero
-15 is negative

##### Task 3

Complete the code below so as to get the expected output.

In [3]:
def f(x):
  # Your code here
  if x > 0:
    print(f"Only printed whenx is positive; x = {x}")
    print(f"Also only printed when x is positive; x = {x}")
  
  print(f"Always printed, regardless of x's value; x = {x}")

f(1)
f(0)

Only printed whenx is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Always printed, regardless of x's value; x = 0

In [ ]:
# Expected output

Only printed when x is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Always printed, regardless of x's value; x = 0

Notice the `pass` keyword. It is used to signal to Python that this function's definition is empty and can be skipped. Read more about it [here](https://www.w3schools.com/python/ref_keyword_pass.asp).

#### Boolean conversion

We've seen `int()`, which turns things into `int`s, and `float()`, which turns things into `float`s. Python also has a `bool()` function which turns things into `bool`s.

In [ ]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))

True
False
True
False

> **Tip**: Generally empty sequences (strings, lists, tuples, dictionaries) are `false`y and the rest are `truth`y.

## **Lists**

In [ ]:
a = [1, 2, 3]
b = [3, 2, 1]

In [ ]:
# A list can contain a mix of different types of variables
my_favourite_things = [32, 'raindrops on roses', help,[1,2]]
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.,
 [1, 2]]

In [ ]:
# indexing is like in C++
my_favourite_things[1]

'raindrops on roses'

In [ ]:
# getting the last element
my_favourite_things[-1]

[1, 2]

In [ ]:
# getting the second to last element
my_favourite_things[-2]

Type help() for interactive help, or help(object) for help about object.

In [ ]:
# Slicing
my_favourite_things[1:]

['raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.,
 [1, 2]]

In [ ]:
my_favourite_things[0:1]

[32]

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
planets[:-2]

['Mercury', 'Venus', 'Earth', 'Malacandra', 'Jupiter', 'Saturn']

### Task 4

Swap the values of a and b.

In [5]:
# Your code here
a = [1, 2, 3]
b = [3, 2, 1]

print(f"BEFORE: a={a} and b={b}")

temp = a
a = b
b = temp

print(f"AFTER : a={a} and b={b}")

BEFORE: a=[1, 2, 3] and b=[3, 2, 1]
AFTER : a=[3, 2, 1] and b=[1, 2, 3]

In [ ]:
# Expected output.

BEFORE: a=[1, 2, 3] and b=[3, 2, 1]
AFTER : a=[3, 2, 1] and b=[1, 2, 3]

### Task 5

Reverse a.

In [7]:
# Your code here
a = [3, 2, 1]

print(f"BEFORE: a={a}")

temp = a[0]
a[0] = a[2]
a[2] = temp

print(f"AFTER : a={a}")

BEFORE: a=[3, 2, 1]
AFTER : a=[1, 2, 3]

In [ ]:
# Expected output

BEFORE: a=[3, 2, 1]
AFTER : a=[1, 2, 3]

In [ ]:
# The "=" is overloaded to work with lists as well.
a == b

True

### Working with lists

Check out all of the functions [here](https://docs.python.org/3/tutorial/datastructures.html).

In [ ]:
# How many planets are there?
len(planets)

8

In [ ]:
# The planets sorted in alphabetical order
sorted(planets)

# Note that because we get an output, that means
# that a NEW list is returned.

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
# The original list didn't change!
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
planets.sort()

In [ ]:
# Now, it did.
planets

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus']

In [ ]:
primes = [2, 3, 5, 7]

# Find the sum of the prime numbers
sum(primes)

17

In [ ]:
# Find the largest number
max(primes)

7

In [ ]:
# Add 'Pluto' to the list of planets.
planets.append('Pluto')

In [ ]:
planets

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus',
 'Pluto']

In [ ]:
primes

[2, 3, 5, 7]

In [ ]:
primes

[2, 3, 5, 7]

In [ ]:
# Remove 'Pluto' from the list of planets.
primes.pop()

7

In [ ]:
# Get the index of `Earth`
planets.index('Earth')

0

In [ ]:
planets.append('Earth')

# Although there are now two 'Earths', only the index of the first is returned.
planets.index('Earth')

0

In [ ]:
planets

['Earth',
 'Jupiter',
 'Malacandra',
 'Mercury',
 'Neptune',
 'Saturn',
 'Uranus',
 'Venus',
 'Pluto',
 'Earth']

In [ ]:
# The "index" method will crash
# if the passed object is not in the list

# Uncomment to see
# planets.index(7)

# Therefore it is not approprite to use it to check if a value is in a list.
# For this purpose we've got the "in" keyword.

In [ ]:
# Is `Earth` a planet?
'Earth' in planets

True

In [ ]:
# Is `Pluto` a planet?
'Pluto' in planets

True

#### Task 6

By using indexing, complete the following code, so as to get the expected results.

In [9]:
nest = [1,2,3,[4,5,['target']]]

In [11]:
# Your code here
nest[3:][0]

[4, 5, ['target']]

In [ ]:
# Expected output

[4, 5, ['target']]

In [12]:
# Your code here
nest[3:][0][2]

['target']

In [ ]:
# Expected output

['target']

In [13]:
# Your code here
nest[3:][0][2][0]

'target'

In [ ]:
# Expected output

'target'

### Lists are mutable

In [ ]:
# that means you can directly change the values they store
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

In [ ]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c']

## **Sets**

- the usual `set` data structure
- holds only unique elements

In [ ]:
{1,2,3}

{1, 2, 3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## **Tuples**

- cannot add new elements

In [ ]:
# Create a tuple from the numbers 1, 2 and 3
t = (1, 2, 3)

In [ ]:
# indexing works like with lists
t[0]

1

### Tuples are immutable!

We cannot change the elements it holds without creating a new tuple.

In [ ]:
# t[0] = 100

## **Loops**

### for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
# very intuitive and easy to understand
for item in seq:
    print(item)

1
2
3
4
5

In [ ]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [ ]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
# print all on 1 line
for planet in planets:
  print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
# print all the uppercase letters in s again on 1 line
for char in s:
  if char.isupper():
    print(char, end='')

HELLO

### while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### range()

a generator that returns a sequence of numbers. It turns out to be very useful for writing loops

In [ ]:
range(5)

range(0, 5)

In [ ]:
# "call" the generator so as to get its values
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# if we want to repeat some action 5 times.
for i in range(5):
  print(f'Doing important work. i={i}')

Doing important work. i=0
Doing important work. i=1
Doing important work. i=2
Doing important work. i=3
Doing important work. i=4

In [16]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
for i in range(8):
  print(f'The {i}th planet is {planets[i]}')

The 0th planet is Mercury
The 1th planet is Venus
The 2th planet is Earth
The 3th planet is Mars
The 4th planet is Jupiter
The 5th planet is Saturn
The 6th planet is Uranus
The 7th planet is Neptune

### Task 7

In [19]:
# Your code here
for i in range(len(planets)):
    print(f"The {i}th planet is {planets[i]}")

The 0th planet is Mercury
The 1th planet is Venus
The 2th planet is Earth
The 3th planet is Mars
The 4th planet is Jupiter
The 5th planet is Saturn
The 6th planet is Uranus
The 7th planet is Neptune

In [ ]:
# Expected output

The 0th planet is Mercury
The 1th planet is Venus
The 2th planet is Earth
The 3th planet is Mars
The 4th planet is Jupiter
The 5th planet is Saturn
The 6th planet is Uranus
The 7th planet is Neptune

### List comprehension

In [ ]:
x = [1,2,3,4]

out = []
for item in x:
    out.append(item**2)

print(out)

[1, 4, 9, 16]

In [ ]:
# by using LC we can write clearer and shorter code

[item**2 for item in x]

[1, 4, 9, 16]

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

In [ ]:
# Get a list of only the uppercase characters
[ char for char in s if char.isupper() ]

['H', 'E', 'L', 'L', 'O']

In [ ]:
# The SQL analogy
[
  char
  for char in s
  if char.isupper()
]

# It closely resembles how you would write a SQL query.
# You could think of it like this:
# SELECT char
# FROM s
# WHERE char.isupper()

['H', 'E', 'L', 'L', 'O']

In [ ]:
# Combine each element in that list into a string
''.join([ char for char in s if char.isupper() ])

'HELLO'

In [ ]:
# The same can be done by using generators. A generator is a function
# that performs lazy evaluation. Examples include `filter` and `map`
# which do not execute until the results are needed
''.join(list(filter(lambda x: x.isupper(), s)))

'HELLO'

In [ ]:
# The same can be done by
# using higher order functions and partial function application

''.join(list(filter(str.isupper, s)))

'HELLO'

#### A bit more on `map` and `filter`

If you don't understand the following examples, please reach out to me and I'll be happy to help!

In [ ]:
def times2(var):
    return var*2

seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

# Note: The result is a generator object

In [ ]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

### Task 8

Complete the code so as to get the expected output in following subtasks.

#### Subtask 1

Get the squares of the numbers [0 .. 9] using a for-loop.

In [21]:
# Your code here
result = []
for i in range(10):
    result.append(i * i)

print(result)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Expected output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Subtask 2

Get the squares of the numbers [0 .. 9] using LC (short for list comprehension).

In [ ]:
# Your code here
[i * i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Expected output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Subtask 3

Get the names of all planets with less than 6 characters using LC.

In [25]:
# Your code here
planetsWithLessThanSixLetters = [planet for planet in planets if len(planet) < 6]

print(planetsWithLessThanSixLetters)

['Venus', 'Earth', 'Mars']

In [ ]:
# Expected output

['Venus', 'Earth', 'Mars']

#### Subtask 4

By using the result from `Subtask 3`, complete this task.

In [27]:
# Your code here
list(map(lambda planet: planet.upper() + "!", planetsWithLessThanSixLetters))

['VENUS!', 'EARTH!', 'MARS!']

In [ ]:
# Expected output

['VENUS!', 'EARTH!', 'MARS!']

#### Subtask 5

Solve the following task by using a for-loop

In [30]:
# Your code here
def count_negatives(nums):
  """Return the number of negative numbers in the given list.
  
  >>> count_negatives([5, -1, -2, 0, 3])
  2
  """
  result = 0
  for num in nums:
    if num < 0:
      result += 1

  return result

print(count_negatives([5, -1, -2, 0, 3]))

2

In [ ]:
# Expected output

2

#### Subtask 6

Do the same, but use LC.

In [33]:
# Your code here
def count_negatives(nums):
    return len([num for num in nums if num < 0])

print(count_negatives([5, -1, -2, 0, 3]))

2

In [ ]:
# Expected output

2

#### Subtask 7

Do the same, but use higher order functions.

In [34]:
# Your code here
def count_negatives(nums):
    return len(list(filter(lambda num: num < 0, [5, -1, -2, 0, 3])))

print(count_negatives([5, -1, -2, 0, 3]))

2

In [ ]:
# Expected output

2

#### Subtask 8

Do the same, but use Use boolean implicit casting.

In [36]:
# Your code here

def count_negatives(nums):
  return sum([ n < 0 for n in nums ] )

print(count_negatives([5, -1, -2, 0, 3]))

2

In [ ]:
# Expected output

2

## **Strings**

In [ ]:
# can be defined using either single, double triple quotation
x = 'Pluto is a planet'
y = "Pluto is a planet"
z = """Pluto is a planet"""
x == y == z

True

> **Note 1**: **Triple quotes** are usually used **only when writing docstrings**. Their main advantage over single and double quotes is the ability to write multiline text. More on that in a bit.

> **Note 2**: In Python we can have x == y == z or x < y < z and any such combination of comparison operators. Definitely a nice feature to keep in mind.

In [ ]:
# Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe).
# Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes

print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [ ]:
# If we try to put a single quote character inside a single-quoted string, Python gets confused.
# Uncomment to see.
# 'Pluto's a planet!'

Python's triple quote syntax for strings lets us include newlines
literally (i.e. by just hitting `Enter` on our keyboard, rather than using
the special `\n` sequence).

In [ ]:
hello = "hello\nworld"
print(hello)

triplequoted_hello = """hello
world"""
print(triplequoted_hello)

triplequoted_hello == hello

hello
world
hello
world

True

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

### **Common pitfall**: Strings (like tuples) are immutable!

We can't modify them.

In [ ]:
# planet[0] = 'B'
# planet.append doesn't work either

### Useful String Methods

Like `list`, the type `str` has lots of very useful methods. See all of them [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [37]:
claim = "Pluto is a planet!"
claim

'Pluto is a planet!'

In [ ]:
# Searching for the first index of a substring
claim.index('plan')

11

### Task 9

Complete the code so as to get the expected output in following subtasks.

#### Subtask 1

Convert the `claim` variable into all uppercase.

In [38]:
# Your code here
claim.upper()

'PLUTO IS A PLANET!'

In [ ]:
# Expected output

'PLUTO IS A PLANET!'

#### Subtask 2

Convert the `claim` variable into all lowercase.

In [39]:
# Your code here
claim.lower()

'pluto is a planet!'

In [ ]:
# Expected output

'pluto is a planet!'

#### Subtask 3

Check whether `claim` starts with the substring 'Pluto'.

In [41]:
# Your code here
claim.startswith('Pluto')

True

In [ ]:
# Expected output

True

#### Subtask 4

Check whether `claim` ends with the substring 'Test'.

In [42]:
# Your code here
claim.endswith('Test')

False

In [ ]:
# Expected output

False

### Going between strings and lists

Here we'll look more closely into the `.split()` and `.join()` methods.

- `str.split()` turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words/tokens.

In [ ]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [45]:
# Occasionally you'll want to split on something other than whitespace:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year, month, day

print(type((1)))
print(type((1,)))

<class 'int'>
<class 'tuple'>

#### Task 10. Answer the following questions.

1. What data type is returned from line 4 (`year, month, day`) in the above cell?

> **Your answer**: tuple

2. What is the type of the expression: (1) ?

> **Your answer**: int

3. What is the type of the expression: (1,) ?

> **Your answer**: tuple

4. What function could you use to check your answers on questions 2 and 3?

> **Your answer**: type

- `str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [ ]:
'/'.join([month, day, year])

'01/31/1956'

## **Dictionaries**

A data structure for mapping keys to values.

In [51]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [52]:
numbers.keys()

dict_keys(['one', 'two', 'three'])

In [53]:
numbers.values()

dict_values([1, 2, 3])

In [54]:
numbers['one']

1

In [55]:
# The indexing syntax is useful if you are sure that the key is present.
# This can easily be done by using the "in" syntax.
if 'onee' in numbers:
  print(numbers['onee'])
else:
  print(None)

None

In [56]:
# The above line could be written in a clearer and more concise way
# by using the "get" method. It accepts the key you are searching for
# and if it is present, will return the value,
# but if it is not, it will return the second argument
print(numbers.get('onee', None))

None

In [57]:
# We can use the indexing syntax to add another key, value pair
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [58]:
# Or to change the value associated with an existing key
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

### Task 11: Practicing dict comprehensions.

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#### Subtask 1

Create a dictionary that maps every name to its first letter

In [47]:
# Your code here
planetsDisctionary = {}
for planet in planets:
    planetsDisctionary[planet] = planet[0]

print(planetsDisctionary)

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}

In [ ]:
# Expected output

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

#### Subtask 2

Check if a value is in the dictionary. For example, check if Earth is a planet. Return 'Not a planet' if it is not.

In [48]:
# Your code here
'Earth' in planetsDisctionary.keys()

True

In [ ]:
# Expected output

True

### Looping over dictionaries

In [59]:
type(numbers)

dict

In [60]:
# A for loop over a dictionary will loop over its KEYS !!!
for k in numbers:
  print(f'{k} => {numbers[k]}')

one => Pluto
two => 2
three => 3
eleven => 11

#### Task 12

Loop over the `numbers` dictionary so as to get both the key and value at each step. Try to get the same output that is in the previous step but **without using indexing**.

In [63]:
# Your code here
for key, value in numbers.items():
    print(f'{key} => {value}')

one => Pluto
two => 2
three => 3
eleven => 11

In [ ]:
# Expected output

one => Pluto
two => 2
three => 3
eleven => 11

#### Task 13

Get all the initials of the planets, sort them alphabetically, and put them in a space-separated string. Try to achive this in **one line**.

In [69]:
# Your code here
' '.join(sorted(list(map(lambda planet: planet[0], planets))))

'E J M M N S U V'

In [ ]:
# Expected output

'E J M M N S U V'

## **Working with External Libraries**

> **Note**: For this section you would need to install `numpy` package using the `pip` command. You have to open up a command prompt and type `pip install numpy`. This will allow you to import `numpy` and use functions from it. A tutorial is present [here](https://youtu.be/eWRfhZUzrAc?si=n7NhKerYNRQLTibv&t=11904) (I've set the timestamp to the start of the section for `pip`).

### **Imports**

So far we've talked about types and functions which are built-in to the language.

But one of the best things about Python (especially if you are working in the AI field) is the vast number of high-quality custom libraries that have been written for it.

Some of these libraries are in the "standard library", meaning you can find them anywhere you run Python. Other libraries can be easily added, even if they aren't always shipped with Python.

Either way, we'll access this code with imports.

We'll start our example by importing math from the standard library.

In [70]:
import math

print(f"It's math! It has type {type(math)}")

It's math! It has type <class 'module'>

math is a module. A module is just a collection of variables (a namespace, if you like) defined by someone else. We can see all the names in math using the built-in function dir().

In [ ]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
# We can access these variables using dot syntax. Some of them refer to simple values, like math.pi
print(f'pi to 4 significant digits = {math.pi:.3f}')

pi to 4 significant digits = 3.142

In [ ]:
# But most of what we'll find in the module are functions, like math.log
math.log(32, 2)

5.0

### **Other import syntax**

If we know we'll be using functions in math frequently we can import it under a shorter alias to save some typing (though in this case "math" is already pretty short).

In [ ]:
import math as mt
mt.pi

3.141592653589793

Wouldn't it be great if we could refer to all the variables in the math module by themselves? i.e. if we could just refer to pi instead of math.pi or mt.pi? Good news: we can do that.

In [ ]:
from math import *
pi, log(32, 2)

(3.141592653589793, 5.0)

import * makes all the module's variables directly accessible to you (without any dotted prefix).

Bad news: some purists might grumble at you for doing this.

Worse: they kind of have a point.

In [ ]:
from math import *
from numpy import *

# Now the following will no longer work :/
# pi, log(32, 2)

What has happened? It worked before!

These kinds of "star imports" can occasionally lead to weird, difficult-to-debug situations.

The problem in this case is that the math and numpy modules both have functions called log, but they have different semantics. Because we import from numpy second, its log overwrites (or "shadows") the log variable we imported from math.

A good compromise is to import only the specific things we'll need from each module.

In [ ]:
from math import log, pi
from numpy import asarray
pi, log(32, 2)

(3.141592653589793, 5.0)

### **Submodules**

We've seen that modules contain variables which can refer to functions or values. Something to be aware of is that they can also have variables referring to other modules.

In [ ]:
import numpy
print(f'numpy.random is a {type(numpy.random)}')
print(f'it contains names such as... {dir(numpy.random)[-15:]}')

numpy.random is a <class 'module'>
it contains names such as... ['seed', 'set_state', 'shuffle', 'standard_cauchy', 'standard_exponential', 'standard_gamma', 'standard_normal', 'standard_t', 'test', 'triangular', 'uniform', 'vonmises', 'wald', 'weibull', 'zipf']

In [ ]:
# So if we import numpy as above, then calling a function in the random "submodule" will require two dots.
# Roll 10 dice

# one dot for the "random" submodule in the numpy module
# second dot for the "randint" function defined in the "random" submodule
rolls = numpy.random.randint(low=1, high=6, size=10)
rolls

array([2, 4, 2, 3, 3, 3, 5, 2, 4, 4])

### **Recap of the three tools for understanding strange objects**

In the cell above, we saw that calling a numpy function gave us an "array". We've never seen anything like this before (not in this course anyways). But don't panic: we have three familiar builtin functions to help us here.

>**1**: `type()` (what is this thing?)

In [ ]:
type(rolls)

numpy.ndarray

>**2**: `dir()` (what can I do with it?)

In [ ]:
dir(rolls)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [ ]:
# If I want the average roll, the "mean" method looks promising...
rolls.mean()

3.2

In [ ]:
# Or maybe I just want to turn the array into a list, in which case I can use "tolist"
rolls.tolist()

[2, 4, 2, 3, 3, 3, 5, 2, 4, 4]

In [ ]:
# or use casting
list(rolls)

[2, 4, 2, 3, 3, 3, 5, 2, 4, 4]

>**3**: `help()` (tell me more)

In [ ]:
help(rolls)